h1 {
  color: blue;
  text-align: center;
}

#moviecontainer {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

}

#moviecontainer img {
  /*width: 400px;*/
  margin: 10px;
  height: 168px;
  image-rendering: high-quality;
  border-radius: 5px;
}

h1{
  padding-bottom: 10px;
  padding-top: 10px;
  font-family: 'Bruno Ace SC', cursive;
  font-size: 100px;
}

li {
  display: inline-block;
  list-style-type: none;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  margin: 10px;
  text-align: center;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  left: 0;
  right: 0;
}
